@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@800,300&display=swap");

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
    padding: 0 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.purple {
  color: rgb(94, 35, 255);
}

h1 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 48px;
  font-weight: bold;
}

h1 {
  color: rgb(73, 77, 97);
  line-height: 1.5;
  margin: 24px 0;
}

h4 {
  color: rgb(94, 35, 255);
  letter-spacing: 0.35px;
  font-size: 16px;
}

p {
  color: rgb(94, 94, 94);
  display: block;
 
  unicode-bidi: isolate;
}


img {
    width: 100%;
}

a {
    text-decoration: none;
    display: inline;
    color: rgb(137, 137, 137);
}

.email {
    border: rgb(157, 157, 157);
}

button {
  cursor: pointer;
  border: none;
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 48px;
    width: 48px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.treact {
    font-weight: 700;
    font-style: bold;
}

nav {
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6;
    height: 2px;
    width: 100%;
    background-color: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover {

}

.login {
    margin-left: 48px;
    font-weight: 700;
}

.nav__link--primary {
    background-color: #6415ff;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: rgb(80, 17, 204);
}






/* NEXT */

.heading__top {
    flex-wrap: wrap;
}

header .row {
    display: flex;
    align-items: center;
}

.header__description {
    width: 40%;
}

.header__image--wrapper {
    width: 100%;
    max-width: 100%;
    width: calc(100% - 40%);
    padding-left: 80px;
}

.header__para {
  margin: 32px 0;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(143, 143, 143);
}

.header__customers {
  margin-top: 64px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(169, 169, 169);
}

.header__image--wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.customers {
  width: 100%;
  max-width: 85%;
  opacity: 70%;
  margin-top: 25px;
}






/* MAIN */

.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section__title {
  font-size: 50px;
  font-weight: bold;
  margin: 16px 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.feature__image--wrapper {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 500px;
  display: flex;
  padding: 20px;
}

.feature {
  width: calc(100% / 3);
}

.feature__title {
  font-size: 24px;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__para {
  font-size: 16px;
  margin-top: 16px;
  color: rgb(150, 150, 150);
  line-height: 2;
}

.section__para {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.shield {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}

.feature__text {
  margin-left: 16px;
}

/* QUALITY */

.section__quality {
  display: flex;
}

.quality__info {
  width: 40%;
  margin-right: 64px;
}

.quality__title {
  margin: 16px 0;
}

.quality__para {
  font-size: 20px;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}

.quality__img {
  z-index: 1;
}

.quality__btn--learn {
  background-color: rgb(93, 0, 255);
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  border: none;
  border-radius: 250px;
  margin-top: 8px;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgb(100, 21, 255);
  z-index: 0;
  display: block;
}


/* STEPS */

.step {
    display: flex;
    margin: 24px 0;
    align-items: flex-start;
}

.steps {
    display: flex;
}

.steps__img--wrapper {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.steps__img {
 
}

.step__number {
    font-size: 36px;
    font-weight: bold;
    color: rgb(197, 197, 197);
}

.step__content {
    margin: 0 16px;
    max-width: 320px;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step__title {
    color: rgb(93, 93, 93);
}

.step__info {
    color: rgb(157, 157, 157);
    line-height: 32px;
}

.steps__grid {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
width: 10rem;
height: 10rem;
opacity: 0.8;
z-index: -10;
color: rgb(100, 21 255);
fill: currentColor;
}



/* VALUES */

.values__content {
    display: flex;

}

.values__types {
    display: flex;
}

.values__affordable {
margin-top: 32px;
margin-right: 32px;
}

.values__professionalism {
    margin-top: 32px;
    margin-right: 32px;
}

.values__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
}

.values__para {
    margin-top: 16px;
}

.values__A {
    display: flex;
}

.values__B {
    display: flex;
}

.values__image {
    width: 50%;
}

.value__img {
    height: 20px;
    width: 20px;
}

.values__info {
    width: 50%;
}

.values__logoA--wrapper {
    background-color: rgb(119, 233, 161);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}
.values__logoB--wrapper {
    background-color: rgb(255, 161, 161);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.values__info {
  padding-top: 32px;
  padding-right: 64px;
  padding-bottom: 32px;
}

.values__para {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.625;
}

.values__para--small {
  margin-top: 24px;
  line-height: 1.625;
}

.values__title {
  line-height: 1.200;
  margin-top: 16px;
  margin-bottom: 32px;
}

.values__image {
  display: flex;
  align-items: center;
}

.values__learn-more {
    background-color: #6415ff;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    transition: all 300ms ease;
    margin-top: 64px;
}

.values__learn-more:hover {
    background-color: rgb(80, 17, 204);
}


/* PLANS */

.plans {
  display: flex;
  position: relative;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pricing__para {
  max-width: 600px;
  line-height: 24px;
  text-align: center;
}

.pricing__heading {
  margin-top: 16px;
  margin-bottom: 16px;
}

.plan {
  border: 1px solid rgb(206, 206, 206); 
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.plan__personal--top {
  margin: 48px 0 32px 0;
}





/* NTH-CHILD PLAN */

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .buy-now__personal 
{
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%,rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__feature {
  color: white;
}

.plan:nth-child(2)
{
  background: linear-gradient(115deg, rgb(76, 81, 191) 0%,rgb(102, 126, 234) 100%);
}

.plan:nth-child(3) .plan__stripe, 
.plan:nth-child(3) .buy-now__personal 
{
  background: linear-gradient(115deg, rgb(196, 39, 104) 0%,rgb(227, 142, 176) 100%);
}




.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    height: 12px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .buy-now__personal {
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 62px;
    border-radius: 24px;
    border: none;
    font-weight: 700;
    transition: all 300ms ease;
  }
  
  .buy-now__personal:hover {
  transform: translate(1px, -1px);
  box-shadow: 0 8px 16px rgba(126, 126, 126, 0.2);
  }
  
  .plan {
  margin: 56px 32px 0 0;
  font-weight: bold;
}


.plan__personal--price {
  margin: 24px 0;
  font-size: 48px;
  font-weight: bold;
}

.plan__personal--monthly {
  color: rgb(181, 189, 195);
}


.plan__features {
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(200, 200, 200);
  list-style-type: none;
  padding: 36px 36px 36px 36px;
}

.plan__features--business {
  border-top: 1px solid rgb(153, 142, 255);
  border-bottom: 1px solid rgb(153, 142, 255);
}

li {
  margin-top: 24px;
  font-size: 18px;
  color: #929292;
}

.plan__personal--individuals {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  color: black;
}

.plan__business {
  color: white;
}

.plan__features--business {
  color: white;
}

.plans__blob {
  opacity: 0.25;
  position: absolute;
  z-index: -10;
  height: 256px;
  width: 256px;
  left: -10%;
  top: 80%;
}

/* TESTIMONIALS */

.testimonials__image--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__testimonials {
  display: flex;
  width: 100%;
}

.testimonials__image--wrapper {
  max-width: 50%;
}

.testimonials__info {
  padding-left: 64px;
  max-width: 50%;
}

.testimonials__title {
  margin-top: 16px;
}

.testimonials__para {
  color: rgb(155, 155, 155);
  font-size: 20px;
  line-height: 1.5;
}

.testimonials__rating {
  margin-top: 48px;
}

.fa-star  {
  color: rgb(255, 213, 0);
}

.testimonial__user-experience {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.user-experience__para {
  margin-top: 20px;
  font-size: 16px;
  font-size: 18px;
  line-height: 1.5;
}

.testimonials__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.testimonials__name-title {
margin-left: 25px;
}

.testimonials__name {
 font-size: 20px;
 font-weight: bold;
}
.testimonials__name--title {
margin-top: 8px;
color: rgb(152, 152, 152);
}


.testimonials__person {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecff;
  border-radius: 200px;
  padding: 15px 15px;
  margin: 0 10px;
  transition: all 300ms ease;
}
.arrow--wrapper:hover {
 background-color: #d0daee;
}


.fa-arrow-right {
  color: rgb(81, 0, 255);
}


.fa-arrow-left {
  color: rgb(81, 0, 255);
}

.divider {
  margin-top:  0.75rem;
  margin-bottom:  0.75rem;
  border-right-width: 1px;
  width: .5px;
  background-color: #e4e4e4;
  height: 20px;
}

.testimonials__arrows {
  display: flex;
}



/* TAGLINE */

.row__tagline {
  position: relative;
  overflow: hidden;
}

.tagline__space {
  background-color: #6415ff;
  width: 100%;
  padding: 96px;
  border-radius: 8px;
}

